.App {
  text-align: center;
  margin: 20px auto;
}

.DataTable {
  margin: 20px auto;
  width: 100%;
}

.HeaderRow th {
  border-bottom: 1px solid black;
}

tr:nth-child(even){
  background-color: lightgrey;
}